<!DOCTYPE html> 
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload stylesheet" as="style" href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@400&family=Roboto:wght@100&display=swap'>    
    <title>민지의 chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatapp.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
    <div class="container clearfix">
        <div class="chat">
            <div class="chat-header clearfix">
                <img style="width:60px; border-radius:50px; margin-left:10px;" src="{{ url_for('static', filename='images/logo.png') }}" alt="avatar" />
                <div class="chat-about">Welly</div>
            </div> <!-- end chat-header -->

            <div class="chat-history"> 
                <ul style="list-style:none;">

                </ul>
            </div> <!-- end chat-history -->

            <div class="chat-message">
                <span class=info></span>
                <textarea name="message-to-send" id="message-to-send" placeholder="메시지를 입력하세요." rows="1"></textarea> 
                <div>
                    <input type="file" id="image-upload" style="display:none">
                    <button id="send" style="display:none">Send</button>
                </div>
            </div> <!-- end chat-message -->
        </div> <!-- end chat -->
    </div> <!-- end container -->
    <audio id="audioPlayer" controls style="display:none"></audio>
    
    <script id="message-template" type="text/x-handlebars-template">
        {% raw %}
        <li class="clearfix">
            <div class="message-data align-right">                
                <span class="message-data-name" >나!</span>
                <span class="message-data-time" >Today</span> &nbsp; &nbsp;                
            </div>
            <div class="message my-message float-right">
                {{messageOutput}}
                {{#if imageUrl}}
                    <img src="{{imageUrl}}" alt="Uploaded Image" style="max-width: 250px; display: block; margin: 10px;">
                {{/if}}
            </div>
        </li>
        {% endraw %}
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        {% raw %}
        <li class="clearfix">
            <div class="message-data">
                <img src="/static/images/jjinchin.png" class="face-image">
                <span class="message-data-name">Welly</span>
                <span class="message-data-time">Today</span>
            </div>
            <div class="message other-message float-left">
                {{#if loading}}
                    <div class="loading-dots"><span></span><span></span><span></span></div>
                {{else}}
                    {{{messageOutput}}}
                    {{#if imageUrl}}
                        <div style="display: flex; justify-content: center; align-items: center;"> 
                            <img src="{{imageUrl}}" alt="Uploaded Image" style="max-width: 200px; display: block; margin: 10px;">
                        </div>
                    {{/if}}
					{{#if pythonCode}}
                        사용한 파이썬 코드는 다음이니까 참고해!
                        <div class="python-code">{{pythonCode}}</div>
                    {{/if}}
                {{/if}}                
            </div>
        </li>      
        {% endraw %}
    </script>
    <script>
        document.addEventListener('keydown', function(event) {
            console.log('Key:', event.key, 'KeyCode:', event.keyCode);
        });

        (function () {
            async function fetchResponse(message) {
                const response = await fetch("/chat-api", {
                    method: "POST",
                    body: message
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                return data
            }

            var chat = {
                messageToSend: '',
                init: function () {
                    this.cacheDOM();
                    this.bindEvents();
                },                
                // 드래그 앤 드롭 이벤트 핸들러를 chat 객체 내에 포함시킵니다.
                initDragAndDrop: function () {
                    var self = this; // 현재 chat 객체를 self 변수에 저장
                    var dropArea = document.querySelector('body');
                    if (!dropArea) {
                        console.error('Drop area not found');
                        return;
                    }

                    // 드래그 오버 이벤트 방지
                    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                        dropArea.addEventListener(eventName, this.preventDefaults, false);
                    });

                      // 드롭 이벤트 핸들러
                    dropArea.addEventListener('drop', this.handleDrop.bind(this), false);
                },
                preventDefaults: function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                },
            
                handleDrop: function (e) {
                    let dt = e.dataTransfer;
                    let files = dt.files;
            
                    this.handleFiles(files);
                },
            
                handleFiles: function (files) {
                    ([...files]).forEach(this.uploadFile.bind(this));
                },
            
                uploadFile: function (file) {
                    var fileInput = document.getElementById('image-upload');
                    var dataTransfer = new DataTransfer();
                    dataTransfer.items.add(file);
                    fileInput.files = dataTransfer.files;
            
                    // 미리보기 기능을 호출합니다.
                    this.previewImage();
                },
                // Cache DOM elements
                cacheDOM: function () {
                    this.chatHistory = document.querySelector('.chat-history');
                    this.button = document.querySelector('#send');
                    this.textarea = document.getElementById('message-to-send');
                    this.chatHistoryList = this.chatHistory.querySelector('ul');
                },
                // Bind events to elements
                bindEvents: function () {
                    this.button.addEventListener('click', this.addMessage.bind(this));
                    this.textarea.addEventListener('keyup', this.addMessageEnter.bind(this));
                    document.getElementById('image-upload').addEventListener('change', this.previewImage.bind(this));
                },
                // Render a new message
                render: function (message, imageUrl, pythonCode, isUser) {
                    //this.scrollToBottom();

                    const templateId = isUser ? "#message-template" : "#message-response-template";
                    const template = Handlebars.compile(document.querySelector(templateId).innerHTML);

                    const context = {
                        messageOutput: message,
                        imageUrl: imageUrl, 
                        pythonCode: pythonCode,
                        time: this.getCurrentTime()
                    };

                    let htmlString = template(context)
                    
                    this.chatHistoryList.insertAdjacentHTML('beforeend', htmlString);
                    this.scrollToBottom();

                    if (isUser) {
                        this.textarea.value = '';
                    }
                },
                showResponse:  function (message) {
                    this.scrollToBottom();
                    const templateId = "#message-response-template";
                    let templateSource = document.querySelector(templateId).innerHTML;
                    const template = Handlebars.compile(templateSource);
                    const context = {
                        messageOutput: message,
                        time: this.getCurrentTime()
                    };
                    let htmlString = template(context);
    
                    document.querySelector('.chat-history > ul > li:last-child').innerHTML = htmlString
                    this.scrollToBottom();                    
                },     
                 // 일정 시간(seconds) 경과 시점을 알릴 수 있는 비동기 함수
                waitSeconds: async function (delay) {
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve();
                        }, delay + this.waitTime);
                        this.waitTime = 0;
                    });
                },
                showBubbleAfterSeconds: async function (delay) {
                    return new Promise(resolve => {
                        setTimeout(() => {
                            const templateId = "#message-response-template";
                            const template = Handlebars.compile(document.querySelector(templateId).innerHTML);
                            const context = {
                                loading: true,
                                time: this.getCurrentTime()
                            };
                            // 물방울 애니메이션을 시작합니다.
                            var loadingHtml = template(context);
                            this.chatHistoryList.insertAdjacentHTML('beforeend', loadingHtml);
                            this.scrollToBottom();
                            resolve();
                        }, delay);
                    });
                },

                // Add a message and its response
                addMessage: async function () {
                    const formData = new FormData();
                    this.messageToSend = this.textarea.value.trim();
                    formData.append('message', this.messageToSend); // 메시지 추가
                    const imageFile = document.getElementById('image-upload').files[0];
                    if (imageFile) {
                        formData.append('image', imageFile);
                    }

                    let imageUrl = null;
                    if (imageFile) {
                        // 이미지 파일을 읽고 렌더링하기 위한 URL 생성
                        formData.append('image', imageFile);
                    }
                    
                    this.render(this.messageToSend, null, null, true); 
                    
                    showBubblePromise = this.showBubbleAfterSeconds(500)
                    waitPromise = this.waitSeconds(3500)
                    const response = await fetchResponse(formData);
                    await showBubblePromise //답변이 출력되고 버블링이 발생되는 현상 제어
                    await waitPromise  //최소 2초는 버블링

                    if (response.response_message) {
                        this.showResponse(response.response_message); // 텍스트 메시지 처리
                    }
                    //파이썬 코드가 있으면 추가됨
					if (response.response_python_code) {
                        this.render('', null, response.response_python_code, false); // 파이썬 코드 처리
                    }
					if (response.audio) {
                        let message = response.response_message;
                        let audioPlayer = document.getElementById('audioPlayer');
                        audioPlayer.src = response.audio;
                        this.showResponse(message ? message :"[오디오 재생]"); // 텍스트 메시지 처리
                        audioPlayer.play();
                    }
                    
                    if (response.image) {
                        this.render('', response.image, null, false); // 이미지 처리
                    }
                    document.getElementById('image-upload').value = ''; // 이미지 필드 초기화
                },
                // Add a message when the Enter key is pressed
                addMessageEnter: function (event) {
                    if (event.keyCode === 13) {
                        this.addMessage();
                    }   
                },
                // Scroll to the bottom of the chat history
                scrollToBottom: function () {
                    this.chatHistory.scrollTop = this.chatHistory.scrollHeight;
                },
                // Get the current time
                getCurrentTime: function () {
                    let currentDate = new Date();
                    return currentDate.toLocaleDateString('ko-KR', { month: 'long', day: 'numeric' });
                    
                },
                // 이미지 미리보기 함수
                previewImage: function() {
                    this.scrollToBottom();
                    const imageFile = document.getElementById('image-upload').files[0];
                    if (imageFile) {
                        const imageUrl = URL.createObjectURL(imageFile);
                        this.render('', imageUrl, null, true); // 빈 메시지로 이미지만 렌더링
                    }
                },
            };
            chat.init();
            chat.initDragAndDrop();
        })();

        document.addEventListener('DOMContentLoaded', function () {
            var dropArea = document.querySelector('body');

            if (!dropArea) {
                console.error('Drop area not found');
                return;
            }

            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            function highlight(e) {
                dropArea.classList.add('drag-over');
            }

            function unhighlight(e) {
                dropArea.classList.remove('drag-over');
            }

            ['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false);
            });

            ['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false);
            });

        });

    </script>
</body>

</html>